@tailwind base;
@tailwind components;
@tailwind utilities;



ul, li {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  color: #bdbdbd;
}


body, input, textarea, button {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

button, .button {
  border: none;
  cursor: pointer;
  background-color: var(--green);
  color: #fff;
  border-radius: 2rem;
  font-weight: 500;
  transition: filter 0.25s;
}

button:hover, .button:hover {
  filter: brightness(0.8);
}

button:disabled, .button:disabled {
  filter: brightness(0.8);
  cursor: not-allowed;
}

.logo {
  font-size: 3rem;
  color: #fff;
  /* ::first-letter {
    color: var(--green);
  } */
}


